
/build/
/out/
/bin/


*.o
*.obj
*.lo
*.la
*.d
*.so
*.a
*.lib
*.dll


*.exe
*.out
*.app
*.dylib


CMakeCache.txt
CMakeFiles/
Testing/
_CPack_Packages/
DartConfiguration.tcl
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt


.vscode/


.vs/
*.vcxproj.user
*.suo
*.sln.docstates


.idea/


*~
*.swp
.netrwhist


/.emacs.d/